.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 40px;
  }

  .navegacion {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 40px;
  }



button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   
   button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   button:hover {
    color: #e8e8e8;
   }
   
   button:hover::before {
    width: 100%;
   }

   header h1{
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    font-weight: 1000;
    font-size: 30px;
    
  }
  p{
    display: flex;
    justify-content: center; 
    align-items: center; 
    white-space: pre-wrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #8BC6EC;
background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

  }
  p {
    border-radius: 0px; 
    padding: 10px; 
    background-color: #1b1b1b;
    color: #FFFFFF;
    position: relative;
    font-weight: 100;
    font-size: 17px;
    
  }
  
  body {
    background-color: #e8e8e8;
  }
  

  /* Primera Parte ---------------------------------------------------------------------------------------------------------*/
  .image-container {
    display: flex;
    height: 500px;
    padding: 30px;
    margin: 0 0 20px 0;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .image-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 40px 40px 0 0;
    overflow: hidden;
    height: 1000px;
  }
  
  .city-name {
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .image-description {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    text-align: justify;
  }
  
  .section-title {
    position: relative;
    display: inline-block;
  }
  
  .title-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .section-title {
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    font-weight: 100;
    font-size: 30px;
    position: relative;
    display: inline-block;
  }
  
  .section-title::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
  }



/*Segunda parte----------------------------------------------------------------------------------------------------------*/
.my-image-container {
    display: flex;
    height: 800px;
    padding: 30px;
    margin: 0px 0 0 0;
  }
  
  .my-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .my-image-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 40px 40px 0 0;
    overflow: hidden;
    height: 1000px;
  }
  
  .my-city-name {
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .my-image-description {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    text-align: justify;
  }

.my-second-title{
  position: relative;
  display: inline-block;

}


.my-second-title-container{
  display: flex;
  justify-content: center; 
  align-items: center; 
  display: flex;
  align-items: center;
  margin-top: 530px;
}

.my-second-title{
  display: flex;
    justify-content: center; 
    align-items: center; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    font-weight: 100;
    font-size: 30px;
    position: relative;
    display: inline-block;
}

.my-second-title{
  content: "";
  height: 1px;
  background-color: #000;
  display: flex;
  align-items: end;
}

/*Tercera Parte----------------------------------------------------------------------------------------------------------*/

.my-third-title{
  position: relative;
  display: flex;


}


.my-third-title-container{
  margin: 80px 0 0 0;
  display: flex;
  justify-content: center; 
  align-items: center; 
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.my-third-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: 30px;
    position: center;
}


.my-third-title{
  content: "";
  height: 1px;
  background-color: #000;
  align-items: end;
  width: fit-content;
}

.plans-text-ph{
  text-align: justify;
}


/*Contact Form----------------------------------------------------------------------------------------------------------*/
.contact-form {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
}

.contact-form label {
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-form .heading {
  font-size: 24px;
  color: black;
  ;
  margin-bottom: 12px;
  font-weight: bold;
  display: block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-form label {
  margin-bottom: 10px;

}

textarea {
  resize: none;
  height: 80px;
  width: 200px;
}

.contact-form input, .contact-form textarea {
  align-items: center;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 90%;
}

.contact-form input:focus, .contact-form textarea:focus {
  outline: none;
  box-shadow: 0 0 5px #63a7ff;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.contact-form button[type="submit"] {
  background-color: #8376f5;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.contact-form button[type="submit"]:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Cards Plans ----------------------------------------------------------------------------------------------------------*/
.book-container {
  margin-top: auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}


.book {
  position: relative;
  border-radius: 10px;
  width: 220px;
  height: 300px;
  background-color: whitesmoke;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
  margin-right: 10px;
}

.cover {
  top: 0;
  position: absolute;
  background-color: #b8badd;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

#plan-card{
  background: transparent;
  color: #373266;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 20px;
}

/*Footer----------------------------------------------------------------------------------------------------------------*/
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.footer-links {
  margin-bottom: 10px;
}

.footer-links a {
  margin-right: 10px;
  text-decoration: none;
  color: #333;
}

.footer-text {
  color: #777;
  font-size: 14px;
}

.footer-content {
  text-align: center;
}

/*grid container--------------------------------------------------------------------------------------------------------*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; 
  align-items: center; 
  height: 100vh; 
  margin-top: 40px;
  margin-bottom: 40px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item img {
  max-width: 100%;
  max-height: 100%;
  width: auto; 
  height: auto; 
  object-fit: cover; 
}

.grid-item:nth-child(1) img,
.grid-item:nth-child(5) img {
  height: auto; 
}



/* my-grid-container--------------------------------------------------------------------------------------------------*/

.my-grid-container {
  display: grid;
  gap: 20px; 
  align-items: center; 
  margin-top: 40px;
  margin-bottom: 40px;
}

.my-grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-grid-item img {
  max-width: 100%;
  max-height: 100%;
  width: auto; 
  height: auto; 
}

.my-grid-item:nth-child(1) img,
.my-grid-item:nth-child(5) img {
  height: auto; 
}


/*Discover ------------------------------------------------------------------------------------------------------------*/

.title-discover {
  font-size: 24px;
  margin-bottom: 0px;
  font-family: 'Segoe UI Regular';
  margin-top: 100px;
}

.title2-discover {
  font-size: 18px;
  margin-bottom: 20px;
  font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
}

.discover-container {
  display: flex;
  margin-top: 60px;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  text-align: justify;
}

.discover-container input[type="text"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-top: auto;
  box-shadow: 0 0 5px #4c99ff;
}


.discover-container input[type="text"]:focus {
  border-color: rgb(141, 190, 253); 
}

.discover-container button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #9273db;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: auto;
}

.discover-container button:hover {
  background-color: #e8e8e8;
}

.city-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-direction: column;
  
}

.city-container p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 60%;
  border-radius: 10px;
  text-align: justify;
}

.city-container img {
  border-radius: 10%;
}

.city-container h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  text-align: center;
  margin-bottom: auto;
}

/* Media -------------------------------------------------------------------------------------------------------------*/


@media (max-width: 600px) {
#primer-p{
  width: 100%;
  font-size: 6px;
  align-items: center;
}
}

@media (max-width: 600px){
.title-container{
  text-align: center;
}
}

@media (max-width: 600px){
  .city-name{
    text-align: center;
  }
}

@media (max-width: 600px){
  .image-container{
    flex-direction: column;
    height: auto;
  }
}

  @media (max-width: 600px){
    .my-image-container{
      flex-direction: column;
      height: auto;
    }
}

@media (max-width: 600px){
  .my-second-title-container{
    margin-top: auto;
  }
}


@media (max-width: 600px){
  .image-description{
    text-align: justify;
    margin-bottom: 40px;
  }
}


@media (max-width: 600px){
  .my-image-description{
    text-align: justify;
    margin-bottom: 40px;
  }
}


@media (max-width: 600px){
  .my-third-title-container{
    margin-top: auto;
  }
}

@media (max-width: 600px){
  .plans-text-ph{
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 600px){
  .Plans-Text{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


@media (max-width: 600px){
  .book-container{
    justify-content: center;
  }
}

@media (max-width: 600px){
  .grid-container{
    display: none;
  }
}


@media (min-width: 600px){
  .my-grid-container{
    display: none;
  }
}

@media (max-width: 600px) {
  .my-grid-container {
    grid-template-columns: 1fr;
    width: 80%;
    justify-content: center;
    align-items: center;
    display: table-cell;
  }
}

@media (max-width: 600px) {
  .contact-form {
    margin-top: 100px;
  }
}


/* Dicover Media ------------------------------------------------------------------------------------------------------*/
@media (max-width: 600px) {
  .discover-container {
    margin-top: 30px;
  }
  
  .title-discover {
    font-size: 20px;
    margin-bottom: 8px;
    margin-top: auto;
  }
  
  .title2-discover {
    font-size: 16px;
    margin-bottom: 16px;
  }
  
  .discover-container input[type="text"] {
    font-size: 14px;
  }
  
  .discover-container button {
    font-size: 14px;
  }
  
  .city-container h2 {
    font-size: 18px;
  }

.city-container img{
  display: table-cell;
  width: 80%;
}

.city-container p{
  width: 80%;
  margin-bottom: 50px;
}

}
