.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: rgb(255, 0, 0);
}


@media (max-width: 600px){
   .containers
   
    h1{
        font-size: 15px;

    }

    p{
        font-size: 10px;
    }
}